
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% if site.allowsearch ==  true %}
<script src="https://alalstjr.github.io/promote.github.io/static/js/super-search.js"></script>
{% endif %}
<script src="https://alalstjr.github.io/promote.github.io/static/js/thickbox-compressed.js"></script>
<script src="https://alalstjr.github.io/promote.github.io/static/js/material.min.js"></script>
<script src="https://alalstjr.github.io/promote.github.io/static/js/main.js"></script>
<script src="https://alalstjr.github.io/promote.github.io/static/js/projects.js"></script>
