<ul class="menu-ul">
	<li class="menu-li">
		HTMLㆍCSS5
		<ol class="sub-ul">
			<li>
				<a href="#">1강</a>
			</li>
			<li>
				<a href="#">2강</a>
			</li>
		</ol>
	</li>
	<li class="menu-li">
		JavascriptㆍJquery
		<ol class="sub-ul">
			<li>
				<a href="{{ site.baseurl }}promote.github.io/2018/08/21/Javascript란-무엇인가.html">1. JavaScript란 무엇인가?</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}promote.github.io/2018/08/22/Javascript의-특징-및-소개.html">2. JavaScript의 특징 및 소개</a>
			</li>
		</ol>
	</li>
	<li class="menu-li">
		Python
		<ol class="sub-ul">
			<li>
				<a href="#">1강</a>
			</li>
			<li>
				<a href="#">2강</a>
			</li>
		</ol>
	</li>
</ul>
