<ul class="menu-ul">
	<li class="menu-li">
		HTMLㆍCSS5
		<ol class="sub-ul">
			<li>
				<a href="#">1강</a>
			</li>
			<li>
				<a href="#">2강</a>
			</li>
		</ol>
	</li>
	<li class="menu-li">
		JavascriptㆍJquery
		<ol class="sub-ul">
			<li>
				<a href="/promote.github.io/2018/08/21/Javascript란-무엇인가.html">1. JavaScript란 무엇인가?</a>
			</li>
			<li>
				<a href="/promote.github.io/2018/08/22/Javascript의-특징-및-소개.html">2. JavaScript의 특징 및 소개</a>
			</li>
			<li>
				<a href="/promote.github.io/2018/08/25/JavaScript-기초문법.html">3. JavaScript의 기초문법</a>
			</li>
			<li>
				<a href="/promote.github.io/2018/08/29/JavaScript-데이터-유형.html">4. JavaScript 데이터 유형</a>
			</li>
			<li>
				<a href="/promote.github.io/2018/08/29/JavaScript-문서-객체에-접근하기.html">5. JavaScript 문서 객체에 접근하기</a>
			</li>
			<li>
				<a href="/promote.github.io/2018/09/01/JavaScript-함수의-정의.html">6. JavaScript 함수의 정의</a>
			</li>
		</ol>
	</li>
	<li class="menu-li">
		Python
		<ol class="sub-ul">
			<li>
				<a href="#">1강</a>
			</li>
			<li>
				<a href="#">2강</a>
			</li>
		</ol>
	</li>
</ul>
