<div class="social-icons">
	<ul class="header-links">
	<li>
	<a href="https://twitter.com/nielsenramon" rel="noreferrer noopener" target="_blank" title="Twitter">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon-twitter">
	<use href="/assets/twitter-8842c33965263ad1b03a978406826677a668f94125d5837e70ab83f24b3213a7.svg#icon-twitter" xlink:href="/assets/twitter-8842c33965263ad1b03a978406826677a668f94125d5837e70ab83f24b3213a7.svg#icon-twitter"></use>
	</svg>
	</a>
	</li>
	<li>
	<a href="https://github.com/nielsenramon" rel="noreferrer noopener" target="_blank" title="GitHub">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon-github">
	<use href="/assets/github-094f81040819f34343ee6ffff0980f17e2807b08b595eaaf66ae3554934fd78d.svg#icon-github" xlink:href="/assets/github-094f81040819f34343ee6ffff0980f17e2807b08b595eaaf66ae3554934fd78d.svg#icon-github"></use>
	</svg>
	</a>
	</li>
	<li>
	<a href="https://dribbble.com/nielsenramon" rel="noreferrer noopener" target="_blank" title="Dribbble">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon-dribbble">
	<use href="/assets/dribbble-13bac13b56f8cd7edb821f8a51d199f6c5867b8ec835d226b27d54a05374ef88.svg#icon-dribbble" xlink:href="/assets/dribbble-13bac13b56f8cd7edb821f8a51d199f6c5867b8ec835d226b27d54a05374ef88.svg#icon-dribbble"></use>
	</svg>
	</a>
	</li>
	<li>
	<a href="/feed.xml" rel="noreferrer noopener" target="_blank" title="RSS">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon-rss">
	<use href="/assets/rss-541ec5cea9cefd10d2fcfec01888f3f231a8829940249835fa7b7b3a12ae0d0d.svg#icon-rss" xlink:href="/assets/rss-541ec5cea9cefd10d2fcfec01888f3f231a8829940249835fa7b7b3a12ae0d0d.svg#icon-rss"></use>
	</svg>
	</a>
	</li>
	</ul>
</div>
