<div class="social-icons">
	<ul class="header-links">
		<li>
			<a href="https://github.com/alalstjr" target="_blank" title="github-blog">
				<img src="/promote.github.io/static/img/github-icon.svg" alt="github-icon"/>
			</a>
		</li>
		<li>
			<a href="https://www.facebook.com/profile.php?id=100003526273423" target="_blank" title="face-book">
				<img src="/promote.github.io/static/img/face-icon.svg" alt="face-icon"/>
			</a>
		</li>
		<li>
			<a href="https://www.instagram.com/alalstjr/?hl=ko" target="_blank" title="instar">
				<img src="/promote.github.io/static/img/instar-icon.svg" alt="instar-icon"/>
			</a>
		</li>
		<li>
			<a href="/promote.github.io/feed.xml" target="_blank" title="feed">
				<img src="/promote.github.io/static/img/feed-icon.svg" alt="feed-icon"/>
			</a>
		</li>
	</ul>
</div>
