#header {padding:30px 0;}

.social-icons .header-links {display: table;}
.social-icons .header-links li {list-style:none;display: table-cell;padding: 0 5px;}
.social-icons .header-links li:first-child {padding-left:0;}
.social-icons .header-links li a {width: 20px;display: block;}
.social-icons .header-links li a img {width:100%;}

.menu-ul {width:100%;}
.menu ul li {font-size:20px;}
