.post .title {margin-bottom:36px;font-size:36px;}
.post .box {margin-bottom:30px;}
.post .box p {margin-bottom:7px;}
.post a {border-bottom:1px solid #009688;}

/*내용의 */
.post .small-title {font-size: 24px;margin-bottom: 15px;font-weight: 400;}

/*이미지 중앙정렬*/
.post .img-box img {margin:0 auto;}

.pro-txt {padding: 16px;overflow: auto;font-size: 85%;line-height: 1.45;background-color: #f6f8fa; border-radius: 3px;margin:10px 0;} 
.pro-txt p:last-child {margin:0;}
  
@media all and (max-width:480px){
  .post .title {font-size:26px;}
}
